@model List<Post>
@{
    ViewData["Title"] = "Post List";
}

<div class="m-1">
    <a class="btn btn-success" href="@Url.Action("Index")"> Create Post</a>
</div>


<div class="card-columns card-group">
    @{
        foreach (var item in Model)
        {
            var content = item.Content.Length > 300 ? item.Content.Substring(0, 300) + "..." : item.Content;

            <div class="card">
                <div class="card-body">
                    <h5>@item.Title</h5>
                    <h6>Create Post Date on @item.PostDateTime.ToShortDateString()</h6>
                    <p class="card-text">@item.Content</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">More ...</small>
                </div>
            </div>
        }
    }

</div>